.favorite_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0vh 15vh;
}

.container h2 {
    color: var(--gold);
    font-size: 6vh;
    text-align: center;
}