.nav_container {
    display: flex;
    justify-content: space-between;
    background-color: var(--gold);
    padding: 10px 50px;
    align-items: center;
}

.nav_container img {
    width: 60px;
    height: 60px;
}

.nav_container ul {
    display: flex;
    list-style: none;
}

.nav_container li {
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 700;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo_container h1 {
    margin-left: 20px;
}

.link {
    text-decoration: none;
    color: black
}