.nav_container {
    display: flex;
    justify-content: space-between;
    background-color: var(--gold);
    padding: 0.5vw 2vw;
    align-items: center;
}

.nav_container img {
    width: 3.5vw;
    height: 3.5vw;
}

.nav_container ul {
    display: flex;
    list-style: none;
}

.nav_container li {
    margin: 0px 1.1vw;
    font-size: 1.1vw;
    font-weight: 700;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo_container h1 {
    margin-left: 1.1vw;
    font-size: 1.4vw;
}

.link {
    text-decoration: none;
    color: black
}